
@{
	ViewBag.Title = "Campaign";

	string[] classNames = new string[] { "Barbarian", "Bard", "Cleric", "Druid", "Fighter", "Monk", "Paladin", "Ranger", "Rogue", "Sorcerer", "Warlock", "Wizard" };

}

<h2>Campaign</h2>

<h1>@ViewBag.Campaign.CampaignName</h1> @*create list of characters in the campaign*@
@if (ViewBag.ListOfCharacters != null)
{
	foreach (var character in ViewBag.ListOfCharacters)
	{
		<a href="/Home/ViewCharacter?CharacterID=@character.CharID">@character.CharName, Level @character.CharLevel @classNames[character.Class - 1]</a> <br />
	}
}
<br />
@if (ViewBag.User == ViewBag.Campaign.DMUserID)
{
	<form action="/Home/AddToCampaign">
		@*Create list of available characters that are not in a campaign, give option to add to the campaign*@
		<input type="hidden" value="@ViewBag.Campaign.CampaignID" name="campaignid" />
		<select name="charID">
			@foreach (var availablecharacter in @ViewBag.AvailableCharacters)
			{
			<option value="@availablecharacter.CharID">@availablecharacter.CharName, Level @availablecharacter.CharLevel @classNames[availablecharacter.Class - 1] </option>
			}
		</select>
		<input type="submit" value="Add Character To Campaign" />
	</form>
	<br />

	<form action="/Home/RemoveCharacterFromCampaign">

		<input type="hidden" value="@ViewBag.Campaign.CampaignID" name="campaignid" />
		<select name="charID">
			@foreach (var availablecharacter in @ViewBag.ListOfCharacters)
			{
			<option value="@availablecharacter.CharID">@availablecharacter.CharName, Level @availablecharacter.CharLevel @classNames[availablecharacter.Class - 1]</option>
			}
		</select>
		<input type="submit" value="Remove Character From Campaign" />
	</form>
}
else
{

}
<br /><br /><br />