
@{
	ViewBag.Title = "Campaign";
}

<h2>Campaign</h2>

<h1>@ViewBag.Campaign.CampaignName</h1> @*create list of characters in the campaign*@
@if (ViewBag.ListOfCharacters != null)
{
	foreach (var character in ViewBag.ListOfCharacters)
	{
<a href="/Home/ViewCharacter?CharacterID=@character.CharID">@character.CharName</a> <br />
	}
}
<br /><br /><br />
<form action="/Home/AddToCampaign"> @*Create list of available characters that are not in a campaign, give option to add to the campaign*@
    <input type="hidden" value="@ViewBag.Campaign.CampaignID" name="campaignid" />
    <select name="charID">
        @foreach(var availablecharacter in @ViewBag.AvailableCharacters)
		{
        <option value="@availablecharacter.CharID">@availablecharacter.CharName</option>
        }
    </select>
    <input type="submit" value="Add To Campaign" />
</form>

<br /><br /><br />

            <form action="/Home/RemoveCharacterFromCampaign">
               
                <input type="hidden" value="@ViewBag.Campaign.CampaignID" name="campaignid" />
                <select name="charID">
                    @foreach (var availablecharacter in @ViewBag.ListOfCharacters)
                    {
                        <option value="@availablecharacter.CharID">@availablecharacter.CharName</option>
                    }
                </select>
                <input type="submit" value="Remove Character From Campaign" />
            </form>