
@{
    ViewBag.Title = "CharacterEdit";

    @*ViewBag.CharacterData*@
}

<h2>CharacterEdit</h2>

<label>Character Name: </label> @ViewBag.CharacterData.CharName  <br />
<label>Race: </label> @ViewBag.CharacterData.Race  <br />
<label>Class: </label> @ViewBag.CharacterData.Class  <br />
<label>HP: </label> @ViewBag.CharacterData.HitPoints  <br />
<label>Alignment: </label> @ViewBag.CharacterData.Alignment  <br />
<label>Level: </label> @ViewBag.CharacterData.CharLevel  <br />
<label>STR: </label> @ViewBag.CharacterData.Strength  <br />
<label>DEX: </label> @ViewBag.CharacterData.Dexterity  <br />
<label>CON: </label> @ViewBag.CharacterData.Constitution  <br />
<label>INT: </label> @ViewBag.CharacterData.Intelligence  <br />
<label>WIS: </label> @ViewBag.CharacterData.Wisdom  <br />
<label>CHA: </label> @ViewBag.CharacterData.Charisma  <br />


