@using DnDTomeOfKeeping.Models;
@{
	ViewBag.Title = "CharacterEdit";

	Character temp = new Character();
	temp.Proficiencies = ViewBag.CharacterData.Proficiencies;
	temp.SpellsKnown = ViewBag.CharacterData.SpellsKnown;
	string[] classNames = new string[] { "Barbarian", "Bard", "Cleric", "Druid", "Fighter", "Monk", "Paladin", "Ranger", "Rogue", "Sorcerer", "Warlock", "Wizard" };
	string[] raceNames = new string[] { "Dwarf", "Elf", "Halfling", "Human", "Dragonborn", "Gnome", "Half-Elf", "Half-Orc", "Tiefling" };
}

<style>
	td {
		vertical-align: top;
	}
</style>

<script>
	function chooseaction() {
		document.getElementById('editform').action = "/Home/LevelUp";
		document.getElementById('editform').submit();
	}

	function savechanges() {
		document.getElementById('editform').action = "/Home/SaveChanges";
		document.getElementById('editform').submit();
	}

	function rollhp(level) {
		total = 0;
		hp = document.getElementById('characterhp');
		con = document.getElementById('constitution');
		conmodifier = Math.floor(con.value / 2) - 5;

		timestoroll = level - 1;
		dicetoroll = @ViewBag.HitDieSize + 0;
		for (i = 0; i < timestoroll; i++) {
			random = Math.ceil(Math.random() * dicetoroll);
			total += random;
		}
		if (conmodifier < -3) {
			hp.value = total + @ViewBag.HitDieSize + 0;
		} else {
			hp.value = total + @ViewBag.HitDieSize + conmodifier + (conmodifier * (level - 1));
		}
	}
</script>

<h2>CharacterEdit</h2>



<label>Character Name: </label> <input type="text" value="@ViewBag.CharacterData.CharName" placeholder="@ViewBag.CharacterData.CharName" /> <br />
<label>Race: </label>@raceNames[@ViewBag.CharacterData.Race - 1]  <br />
<label>Class: </label> @classNames[@ViewBag.CharacterData.Class - 1]  <br />

<form method="post" id="editform">
	<input type="hidden" name="Class" value=" @ViewBag.CharacterData.Class" />
	<input type="hidden" name="hitdie" value="@ViewBag.HitDieSize" />
	<button type="submit" onclick="chooseaction()" >Level up!</button><label>Level: </label> 
	<select name="CharLevel" id="level">
		@for (int i = 1; i <= 20; i++)
		{
			if (i == @ViewBag.CharacterData.CharLevel)
			{
				<option value=@i selected> @i </option>
			}
			else
			{
				<option value=@i> @i </option>
			}
		}
	</select><br />
	<br />
	<input type="hidden" name="CharID" value="@ViewBag.CharacterData.CharID" />
	<label>Maximum Hit Points: </label>
	<input type="number" name="HitPoints" value="@ViewBag.CharacterData.HitPoints" id="characterhp" /> <button type="button" id="roll" onclick="rollhp(level.value)">Roll HP</button>
	<br />
	<label>Alignment: </label>
	<select name="Alignment">
		@if ("Lawful Good" == @ViewBag.CharacterData.Alignment)
		{
			<option value="Lawful Good" selected> Lawful Good </option>
		}
		else
		{
			<option value="Lawful Good"> Lawful Good </option>
		}
		@if ("Lawful Neutral" == @ViewBag.CharacterData.Alignment)
		{
			<option value="Lawful Neutral" selected> Lawful Neutral </option>
		}
		else
		{
			<option value="Lawful Neutral"> Lawful Neutral </option>
		}
		@if ("Lawful Evil" == @ViewBag.CharacterData.Alignment)
		{
			<option value="Lawful Evil" selected> Lawful Evil </option>
		}
		else
		{
			<option value="Lawful Evil"> Lawful Evil </option>
		}
		@if ("Neutral Good" == @ViewBag.CharacterData.Alignment)
		{
			<option value="Neutral Good" selected> Neutral Good </option>
		}
		else
		{
			<option value="Neutral Good"> Neutral Good </option>
		}
		@if ("True Neutral" == @ViewBag.CharacterData.Alignment)
		{
			<option value="True Neutral" selected> True Neutral </option>
		}
		else
		{
			<option value="True Neutral"> True Neutral </option>
		}
		@if ("Neutral Evil" == @ViewBag.CharacterData.Alignment)
		{
			<option value="Neutral Evil" selected> Neutral Evil </option>
		}
		else
		{
			<option value="Neutral Evil"> Neutral Evil </option>
		}
		@if ("Chaotic Good" == @ViewBag.CharacterData.Alignment)
		{
			<option value="Chaotic Good" selected> Chaotic Good </option>
		}
		else
		{
			<option value="Chaotic Good"> Chaotic Good </option>
		}
		@if ("Chaotic Neutral" == @ViewBag.CharacterData.Alignment)
		{
			<option value="Chaotic Neutral" selected> Chaotic Neutral </option>
		}
		else
		{
			<option value="Chaotic Neutral"> Chaotic Neutral </option>
		}
		@if ("Chaotic Evil" == @ViewBag.CharacterData.Alignment)
		{
			<option value="Chaotic Evil" selected> Chaotic Evil </option>
		}
		else
		{
			<option value="Chaotic Evil"> Chaotic Evil </option>
		}
	</select>
	<br />
	<label>STR: </label>
	<input name="Strength" type="number" minimum="3" max="30" value="@ViewBag.CharacterData.Strength" />
	<br />
	<label>DEX: </label>
	<input name="Dexterity" type="number" minimum="3" max="30" value="@ViewBag.CharacterData.Dexterity" />
	<br />
	<label>CON: </label>
	<input name="Constitution" type="number" minimum="3" max="30" value="@ViewBag.CharacterData.Constitution" id="constitution" />
	<br />
	<label>INT: </label>
	<input name="Intelligence" type="number" minimum="3" max="30" value="@ViewBag.CharacterData.Intelligence" />
	<br />
	<label>WIS: </label>
	<input name="Wisdom" type="number" minimum="3" max="30" value="@ViewBag.CharacterData.Wisdom" />
	<br />
	<label>CHA:</label>
	<input name="Charisma" type="number" minimum="3" max="30" value="@ViewBag.CharacterData.Charisma" />
	<br />
	@if (ViewBag.CharacterData.SpellsKnown != null)
	{
	<label>Current Spells: </label>@ViewBag.CharacterData.SpellsKnown
	}
	@if (ViewBag.Cantrips.Count != 0)
    {
        <h2>This is the list of spells for your class:</h2>
        <h3>Please select the ones your character knows:</h3>
        <br />

        <table border="1">
            <tr>
                <td>
                    <p>Cantrips</p>
                    @for (int i = 0; i < ViewBag.Cantrips.Count; i++)
                    {
                        <input type="checkbox" name="SpellsKnown" value="@ViewBag.Cantrips[i]["name"]" />
                        @ViewBag.Cantrips[i]["name"]
                        <br />
                    }
                </td>
                <td>
                    <p>Level 1 Spells</p>
                    @for (int i = 0; i < ViewBag.Spells1.Count; i++)
                    {
                        <input type="checkbox" name="SpellsKnown" value="@ViewBag.Spells1[i]["name"]" />
                        @ViewBag.Spells1[i]["name"]
                        <br />
                    }
                </td>
                <td>
                    <p>Level 2 Spells</p>
                    @for (int i = 0; i < ViewBag.Spells2.Count; i++)
                    {
                        <input type="checkbox" name="SpellsKnown" value="@ViewBag.Spells2[i]["name"]" />
                        @ViewBag.Spells2[i]["name"]
                        <br />
                    }
                </td>
                <td>
                    <p>Level 3 Spells</p>
                    @for (int i = 0; i < ViewBag.Spells3.Count; i++)
                    {
                        <input type="checkbox" name="SpellsKnown" value="@ViewBag.Spells3[i]["name"]" />
                        @ViewBag.Spells3[i]["name"]
                        <br />
                    }
                </td>
                <td>
                    <p>Level 4 Spells</p>
                    @for (int i = 0; i < ViewBag.Spells4.Count; i++)
                    {
                        <input type="checkbox" name="SpellsKnown" value="@ViewBag.Spells4[i]["name"]" />
                        @ViewBag.Spells4[i]["name"]
                        <br />
                    }
                </td>
            </tr>
            <tr>
                <td>
                    <p>Level 5 Spells</p>
                    @for (int i = 0; i < ViewBag.Spells5.Count; i++)
                    {
                        <input type="checkbox" name="SpellsKnown" value="@ViewBag.Spells5[i]["name"]" />
                        @ViewBag.Spells5[i]["name"]
                        <br />
                    }
                </td>
                <td>
                    <p>Level 6 Spells</p>
                    @for (int i = 0; i < ViewBag.Spells6.Count; i++)
                    {
                        <input type="checkbox" name="SpellsKnown" value="@ViewBag.Spells6[i]["name"]" />
                        @ViewBag.Spells6[i]["name"]
                        <br />
                    }
                </td>
                <td>
                    <p>Level 7 Spells</p>
                    @for (int i = 0; i < ViewBag.Spells7.Count; i++)
                    {
                        <input type="checkbox" name="SpellsKnown" value="@ViewBag.Spells7[i]["name"]" />
                        @ViewBag.Spells7[i]["name"]
                        <br />
                    }
                </td>
                <td>
                    <p>Level 8 Spells</p>
                    @for (int i = 0; i < ViewBag.Spells8.Count; i++)
                    {
                        <input type="checkbox" name="SpellsKnown" value="@ViewBag.Spells8[i]["name"]" />
                        @ViewBag.Spells8[i]["name"]
                        <br />
                    }
                </td>
                <td>
                    <p>Level 9 Spells</p>
                    @for (int i = 0; i < ViewBag.Spells9.Count; i++)
                    {
                        <input type="checkbox" name="SpellsKnown" value="@ViewBag.Spells9[i]["name"]" />
                        @ViewBag.Spells9[i]["name"]
                        <br />
                    }
                </td>
            </tr>
        </table>

    }

    else if (ViewBag.ClassID == 7 || ViewBag.ClassID == 8)
    {
        <h2>This is the list of spells for your class:</h2>
        <h3>Please select the ones your character knows:</h3>
        <br />
        <table border="1">
            <tr>

                <td>
                    <p>Level 1 Spells</p>
                    @for (int i = 0; i < ViewBag.Spells1.Count; i++)
                    {
                        <input type="checkbox" name="SpellsKnown" value="@ViewBag.Spells1[i]["name"]" />
                        @ViewBag.Spells1[i]["name"]
                        <br />
                    }
                </td>
                <td>
                    <p>Level 2 Spells</p>
                    @for (int i = 0; i < ViewBag.Spells2.Count; i++)
                    {
                        <input type="checkbox" name="SpellsKnown" value="@ViewBag.Spells2[i]["name"]" />
                        @ViewBag.Spells2[i]["name"]
                        <br />
                    }
                </td>
                <td>
                    <p>Level 3 Spells</p>
                    @for (int i = 0; i < ViewBag.Spells3.Count; i++)
                    {
                        <input type="checkbox" name="SpellsKnown" value="@ViewBag.Spells3[i]["name"]" />
                        @ViewBag.Spells3[i]["name"]
                        <br />
                    }
                </td>
                <td>
                    <p>Level 4 Spells</p>
                    @for (int i = 0; i < ViewBag.Spells4.Count; i++)
                    {
                        <input type="checkbox" name="SpellsKnown" value="@ViewBag.Spells4[i]["name"]" />
                        @ViewBag.Spells4[i]["name"]
                        <br />
                    }
                </td>
            </tr>
            <tr>
                <td>
                    <p>Level 5 Spells</p>
                    @for (int i = 0; i < ViewBag.Spells5.Count; i++)
                    {
                        <input type="checkbox" name="SpellsKnown" value="@ViewBag.Spells5[i]["name"]" />
                        @ViewBag.Spells5[i]["name"]
                        <br />
                    }
                </td>

            </tr>


        </table>

    }
    else
    {

    }

	<label>Current Proficiencies: </label>@ViewBag.CharacterData.Proficiencies
	<br />
	<label>Change Proficiencies: </label>
	<br />
	@for (int i = 0; i < ViewBag.Classes["from"].Count; i++)
	{
		if (temp.Proficiencies.Contains($"{ViewBag.Classes["from"][i]["name"]}"))
		{
			<input type="checkbox" name="Proficiencies" value="@ViewBag.Classes["from"][i]["name"]" checked />
			@ViewBag.Classes["from"][i]["name"]
			<br />
		}
		else
		{
			<input type="checkbox" name="Proficiencies" value="@ViewBag.Classes["from"][i]["name"]" />
			@ViewBag.Classes["from"][i]["name"]
			<br />
		}
	}
	@for (int i = 0; i < ViewBag.Pro.Count; i++)
	{
		<input type="hidden" name="Proficiencies" value="@ViewBag.Pro[i]["name"]" />
	}

	@for (int i = 0; i < ViewBag.Saves.Count; i++)
	{
		<input type="hidden" name="Proficiencies" value="@ViewBag.Saves[i]["name"]" />
	}
	<button type="submit" onclick="savechanges()">Save Changes</button>
</form>
<br />
<br />
<br />

