@using DnDTomeOfKeeping.Models;
@{
    ViewBag.Title = "CharacterCreator";
}
<style>
    td {
        vertical-align: top;
    }
</style>

<script>
	function rollhp(level) {
		total = 0;
		hp = document.getElementById('characterhp');
		con = document.getElementById('constitution');
		conmodifier = Math.floor(con.value / 2) - 5;

		timestoroll = level - 1;
		dicetoroll = @ViewBag.HitDieSize + 0;
		for (i = 0; i < timestoroll; i++) {
			random = Math.ceil(Math.random() * dicetoroll);
			total += random;
		}
		if (conmodifier < -3) {
			hp.value = total + @ViewBag.HitDieSize + 0;
		} else {
			hp.value = total + @ViewBag.HitDieSize + conmodifier + (conmodifier * (level-1));
		}
	}

	function rolldice(strength, dexterity, constitution, intelligence, wisdom, charisma) {
		total1 = 0;
		total2 = 0;
		total3 = 0;
		total4 = 0;
		total5 = 0;
		total6 = 0;
		n = 3;
		d = 6;
		result1 = document.getElementById(strength);
		result2 = document.getElementById(dexterity);
		result3 = document.getElementById(constitution);
		result4 = document.getElementById(intelligence);
		result5 = document.getElementById(wisdom);
		result6 = document.getElementById(charisma);

		for (i = 0; i < n; i++) {
			random1 = Math.ceil(Math.random() * d);
			total1 += random1;
		}
		for (i = 0; i < n; i++) {
			random2 = Math.ceil(Math.random() * d);
			total2 += random2;
		}
		for (i = 0; i < n; i++) {
			random3 = Math.ceil(Math.random() * d);
			total3 += random3;
		}
		for (i = 0; i < n; i++) {
			random4 = Math.ceil(Math.random() * d);
			total4 += random4;
		}
		for (i = 0; i < n; i++) {
			random5 = Math.ceil(Math.random() * d);
			total5 += random5;
		}
		for (i = 0; i < n; i++) {
			random6 = Math.ceil(Math.random() * d);
			total6 += random6;
		}
		result1.value = total1;
		result2.value = total2;
		result3.value = total3;
		result4.value = total4;
		result5.value = total5;
		result6.value = total6;

	}
</script>

<form action="/Home/CharacterSubmit" method="post">
    <h2>CharacterCreator</h2><br />
    <label>Character Name: </label><input type="text" name="CharName" />
    <input type="hidden" value="@ViewBag.Name" />
    <h2>Class: @ViewBag.Name</h2>
    <input type="hidden" value="@ViewBag.ClassID" name="Class" />
    <br />
    <label>Level: </label>
    <select name="CharLevel" id="level">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
    </select> <br />
    <label>HP: </label><input type="number" name="HitPoints" id="characterhp" required/> <button type="button" id="roll" onclick="rollhp(level.value)">Roll HP</button>
	<p>Hit Points is the representation of how much punishment your character can take.</p>
    <h2>Statistics</h2> <button type="button" id="roll" onclick="rolldice('strength', 'dexterity', 'constitution', 'intelligence', 'wisdom', 'charisma')">Roll All Stats</button><br /><br />
    <label>STR: </label><input name="Strength" type="number" min="3" max="30" id="strength" required> <button type="button" id="roll" onclick="rolldice('strength')">Roll Strength</button><br />
    <p>Strength (STR) is your character's physical power. Used for climbing, jumping, melee martial-type weapon attacks, and Athletics skill checks.</p>
    <label>DEX: </label><input name="Dexterity" type="number" min="3" max="30" id="dexterity" required/> <button type="button" id="roll" onclick="rolldice('dexterity')">Roll Dexterity</button> <br />
    <p>Dexterity (DEX) is your character's physical agility. Used for skillful motions such as stealth, sleight of hand, ranged weapon attacks and finesse martial weapon attacks
	like daggers and rapiers. Affects your ability to avoid attacks and how fast your character acts.</p>
    <label>CON: </label><input name="Constitution" type="number" min="3" max="30" id="constitution" required/> <button type="button" id="roll" onclick="rolldice('constitution')">Roll Constitution</button> <br />
    <p>Constitution (CON) is your character's endurance. Affects maximum hit points and how resistant you are to disease or poison, as well as exhaustion.</p>
    <label>INT: </label><input name="Intelligence" type="number" min="3" max="30" id="intelligence" required/> <button type="button" id="roll" onclick="rolldice('intelligence')">Roll Intelligence</button> <br />
    <p>Intelligence (INT) is your character's reasoning and memory. Used for knowledge skills. Affects Wizard and Sorcerer spellcasting.</p>
    <label>WIS: </label><input name="Wisdom" type="number" min="3" max="30" id="wisdom" required/><button type="button" id="roll" onclick="rolldice('wisdom')">Roll Wisdom</button>  <br />
    <p>Wisdom (WIS) is your character's perception and insight. Affects Druid, Cleric, Ranger, and Paladin spellcasting, and is used for sight and hearing,
	as well as trying to read other individuals to determine if they are telling the truth.</p>
    <label>CHA: </label><input name="Charisma" type="number" min="3" max="30" id="charisma" required/> <button type="button" id="roll" onclick="rolldice('charisma')">Roll Charisma</button> <br />
    <p>Charisma (CHA) is your character's force of personality. Affects interactions with others, and is used to determine resistance to magic that causes shifting.
	Affects Warlock and Bard spellcasting.</p>
    <h2>Alignment</h2><br />
    <select name="Alignment">
        <option value="Lawful Good">Lawful Good</option>
        <option value="Lawful Neutral">Lawful Neutral</option>
        <option value="Lawful Evil">Lawful Evil</option>
        <option value="Neutral Good">Neutral Good</option>
        <option value="True Neutral">True Neutral</option>
        <option value="Neutral Evil">Neutral Evil</option>
        <option value="Chaotic Good"> Chaotic Good</option>
        <option value="Chaotic Neutral"> Chaotic Neutral</option>
        <option value="Chaotic Evil"> Chaotic Evil</option>
    </select>
    <br />
    <h2>Race</h2><br />
    <select name="Race">
        @for (int i = 0; i < ViewBag.Races.Count; i++)
        {
            <option value="@(i+1)">@ViewBag.Races[i]["name"]</option>
        }
    </select>

    <br />
    <h2>Proficiency Choices: </h2>

    <h3>Pick @ViewBag.Choose from this list</h3>
    @for (int i = 0; i < ViewBag.Classes["from"].Count; i++)
    {
        <input type="checkbox" name="Proficiencies" value="@ViewBag.Classes["from"][i]["name"]" />
        @ViewBag.Classes["from"][i]["name"]
        <br />
    }

    <br />
    @if (ViewBag.Cantrips.Count != 0)
    {
        <h2>This is the list of spells for your class:</h2>
        <h3>Please select the ones your character knows:</h3>
        <br />

        <table border="1">
            <tr>
                <td>
                    <p>Cantrips</p>
                    @for (int i = 0; i < ViewBag.Cantrips.Count; i++)
                    {
                        <input type="checkbox" name="SpellsKnown" value="@ViewBag.Cantrips[i]["name"]" />
                        @ViewBag.Cantrips[i]["name"]
                        <br />
                    }
                </td>
                <td>
                    <p>Level 1 Spells</p>
                    @for (int i = 0; i < ViewBag.Spells1.Count; i++)
                    {
                        <input type="checkbox" name="SpellsKnown" value="@ViewBag.Spells1[i]["name"]" />
                        @ViewBag.Spells1[i]["name"]
                        <br />
                    }
                </td>
                <td>
                    <p>Level 2 Spells</p>
                    @for (int i = 0; i < ViewBag.Spells2.Count; i++)
                    {
                        <input type="checkbox" name="SpellsKnown" value="@ViewBag.Spells2[i]["name"]" />
                        @ViewBag.Spells2[i]["name"]
                        <br />
                    }
                </td>
                <td>
                    <p>Level 3 Spells</p>
                    @for (int i = 0; i < ViewBag.Spells3.Count; i++)
                    {
                        <input type="checkbox" name="SpellsKnown" value="@ViewBag.Spells3[i]["name"]" />
                        @ViewBag.Spells3[i]["name"]
                        <br />
                    }
                </td>
                <td>
                    <p>Level 4 Spells</p>
                    @for (int i = 0; i < ViewBag.Spells4.Count; i++)
                    {
                        <input type="checkbox" name="SpellsKnown" value="@ViewBag.Spells4[i]["name"]" />
                        @ViewBag.Spells4[i]["name"]
                        <br />
                    }
                </td>
            </tr>
            <tr>
                <td>
                    <p>Level 5 Spells</p>
                    @for (int i = 0; i < ViewBag.Spells5.Count; i++)
                    {
                        <input type="checkbox" name="SpellsKnown" value="@ViewBag.Spells5[i]["name"]" />
                        @ViewBag.Spells5[i]["name"]
                        <br />
                    }
                </td>
                <td>
                    <p>Level 6 Spells</p>
                    @for (int i = 0; i < ViewBag.Spells6.Count; i++)
                    {
                        <input type="checkbox" name="SpellsKnown" value="@ViewBag.Spells6[i]["name"]" />
                        @ViewBag.Spells6[i]["name"]
                        <br />
                    }
                </td>
                <td>
                    <p>Level 7 Spells</p>
                    @for (int i = 0; i < ViewBag.Spells7.Count; i++)
                    {
                        <input type="checkbox" name="SpellsKnown" value="@ViewBag.Spells7[i]["name"]" />
                        @ViewBag.Spells7[i]["name"]
                        <br />
                    }
                </td>
                <td>
                    <p>Level 8 Spells</p>
                    @for (int i = 0; i < ViewBag.Spells8.Count; i++)
                    {
                        <input type="checkbox" name="SpellsKnown" value="@ViewBag.Spells8[i]["name"]" />
                        @ViewBag.Spells8[i]["name"]
                        <br />
                    }
                </td>
                <td>
                    <p>Level 9 Spells</p>
                    @for (int i = 0; i < ViewBag.Spells9.Count; i++)
                    {
                        <input type="checkbox" name="SpellsKnown" value="@ViewBag.Spells9[i]["name"]" />
                        @ViewBag.Spells9[i]["name"]
                        <br />
                    }
                </td>
            </tr>
        </table>

    }

    else if (ViewBag.ClassID == 7 || ViewBag.ClassID == 8)
    {
        <h2>This is the list of spells for your class:</h2>
        <h3>Please select the ones your character knows:</h3>
        <br />
        <table border="1">
            <tr>

                <td>
                    <p>Level 1 Spells</p>
                    @for (int i = 0; i < ViewBag.Spells1.Count; i++)
                    {
                        <input type="checkbox" name="SpellsKnown" value="@ViewBag.Spells1[i]["name"]" />
                        @ViewBag.Spells1[i]["name"]
                        <br />
                    }
                </td>
                <td>
                    <p>Level 2 Spells</p>
                    @for (int i = 0; i < ViewBag.Spells2.Count; i++)
                    {
                        <input type="checkbox" name="SpellsKnown" value="@ViewBag.Spells2[i]["name"]" />
                        @ViewBag.Spells2[i]["name"]
                        <br />
                    }
                </td>
                <td>
                    <p>Level 3 Spells</p>
                    @for (int i = 0; i < ViewBag.Spells3.Count; i++)
                    {
                        <input type="checkbox" name="SpellsKnown" value="@ViewBag.Spells3[i]["name"]" />
                        @ViewBag.Spells3[i]["name"]
                        <br />
                    }
                </td>
                <td>
                    <p>Level 4 Spells</p>
                    @for (int i = 0; i < ViewBag.Spells4.Count; i++)
                    {
                        <input type="checkbox" name="SpellsKnown" value="@ViewBag.Spells4[i]["name"]" />
                        @ViewBag.Spells4[i]["name"]
                        <br />
                    }
                </td>
                <td>
                    <p>Level 5 Spells</p>
                    @for (int i = 0; i < ViewBag.Spells5.Count; i++)
                    {
                        <input type="checkbox" name="SpellsKnown" value="@ViewBag.Spells5[i]["name"]" />
                        @ViewBag.Spells5[i]["name"]
                        <br />
                    }
                </td>

            </tr>


        </table>

    }
    else
    {

    }


    <h3>Armor and Weapon Proficiencies</h3>
    @for (int i = 0; i < ViewBag.Pro.Count; i++)
    {
        <p>@ViewBag.Pro[i]["name"]</p>
        <input type="hidden" name="Proficiencies" value="@ViewBag.Pro[i]["name"]" />
    }

    <h3>Saving Throws</h3>
    @for (int i = 0; i < ViewBag.Saves.Count; i++)
    {
        <p>@ViewBag.Saves[i]["name"]</p>
        <input type="hidden" name="Proficiencies" value="@ViewBag.Saves[i]["name"]" />
    }

    <input name="UserID" type="hidden" value="@ViewBag.User" />
    <input type="submit" value="Create Character" />
</form>
<br /><br /><br /><br />
