@using DnDTomeOfKeeping.Models;
@{
	ViewBag.Title = "CharacterCreator";
}

<form action="/Home/CharacterSubmit" method="post">
	<h2>CharacterCreator</h2><br />
	<label>Character Name: </label><input type="text" name="CharName" />
	<input type="hidden" value="@ViewBag.Name" />
	<h2>Class: @ViewBag.Name</h2>
	<input type="hidden" value="@ViewBag.ClassID" name="Class"/>
	<br />
	<label>Level: </label>
	<select name="CharLevel">
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5">5</option>
		<option value="6">6</option>
		<option value="7">7</option>
		<option value="8">8</option>
		<option value="9">9</option>
		<option value="10">10</option>
		<option value="11">11</option>
		<option value="12">12</option>
		<option value="13">13</option>
		<option value="14">14</option>
		<option value="15">15</option>
		<option value="16">16</option>
		<option value="17">17</option>
		<option value="18">18</option>
		<option value="19">19</option>
		<option value="20">20</option>
	</select> <br />
	<label>HP: </label><input type="number" name="HitPoints" @*min="@(ViewBag.Classes["hit_die"] + con + (1*(charlvl - 1)))"*@ />
	<h2>Statistics</h2><br />
	<label>STR: </label><input name="Strength" type="number" min="3" /><br />
	<p>Strength (STR) is your character's physical power. Used for climbing, jumping, melee martial-type weapon attacks, and Athletics skill checks.</p>
	<label>DEX: </label><input name="Dexterity" type="number" min="3" /><br />
	<label>CON: </label><input name="Constitution" type="number" min="3" id="con" /><br />
	<label>INT: </label><input name="Intelligence" type="number" min="3" /><br />
	<label>WIS: </label><input name="Wisdom" type="number" min="3"/><br />
	<label>CHA: </label><input name="Charisma" type="number" min="3" /><br />
	<h2>Alignment</h2><br />
	<select name="Alignment">
		<option value="Lawful Good">Lawful Good</option>
		<option value="Lawful Neutral">Lawful Neutral</option>
		<option value="Lawful Evil">Lawful Evil</option>
		<option value="Neutral Good">Neutral Good</option>
		<option value="True Neutral">True Neutral</option>
		<option value="Neutral Evil">Neutral Evil</option>
		<option value="Chaotic Good"> Chaotic Good</option>
		<option value="Chaotic Neutral"> Chaotic Neutral</option>
		<option value="Chaotic Evil"> Chaotic Evil</option>
	</select>
	<br />
	<h2>Race</h2><br />
	<select name="Race">
		@for (int i = 0; i < ViewBag.Races.Count; i++)
		{
		<option value="@(i+1)">@ViewBag.Races[i]["name"]</option>
		}
	</select>

	<br />
	<h2>Proficiency Choices: </h2>

	<h3>Pick @ViewBag.Choose from this list</h3>
	@for (int i = 0; i < ViewBag.Classes["from"].Count; i++)
	{
	<input type="checkbox" name="Proficiencies" value="@ViewBag.Classes["from"][i]["name"]" />
	@ViewBag.Classes["from"][i]["name"]
	<br />
	}

	<br />

	<h2>This is the list of spells for your class:</h2>
	<h3>Please select the ones your character knows:</h3>
	<br />
	<table border="1">
		@for (int i = 0; i < ViewBag.Spells.Count; i++)
		{
		<tr>
			<td>
				<input type="checkbox" name="SpellsKnown" value="@ViewBag.Spells[i]["name"]" />
				@ViewBag.Spells[i]["name"]
			</td>
		</tr>
		}
	</table>

	<h3>Armor and Weapon Proficiencies</h3>
	@for (int i = 0; i < ViewBag.Pro.Count; i++)
	{
	<p>@ViewBag.Pro[i]["name"]</p>
	<input type="hidden" name="Proficiencies" value="@ViewBag.Pro[i]["name"]"/>
	}

	<h3>Saving Throws</h3>
	@for (int i = 0; i < ViewBag.Saves.Count; i++)
	{
	<p>@ViewBag.Saves[i]["name"]</p>
	<input type="hidden" name="Proficiencies" value="@ViewBag.Saves[i]["name"]" />
	}

	<input name="UserID" type="hidden" value="@ViewBag.User" />
	<input type="submit" value="Create Character" />
</form>
<br /><br /><br /><br />
