
@{
    ViewBag.Title = "CharacterEdit";

	@*ViewBag.CharacterData*@
}

<h2>CharacterEdit</h2>



<label>Character Name: </label> @ViewBag.CharacterData.CharName  <br />
<label>Race: </label> @ViewBag.CharacterData.Race  <br />
<label>Class: </label> @ViewBag.CharacterData.Class  <br />

<form action="/Home/SaveChanges" method="post">
	<label>Current Level: </label> @ViewBag.CharacterData.CharLevel
	<label> New Level: </label><input type="number" min="1" max="20" name="CharLevel" id="charlvl" />
	<br />

	<label>Current HP: </label> @ViewBag.CharacterData.HitPoints
	<label>New HP: </label><input type="number" name="HitPoints" />
	<br />
	<label> Current Alignment: </label> @ViewBag.CharacterData.Alignment
	<label>New Alignment: </label>
	<select name="Alignment">
		<option value="Lawful Good">Lawful Good</option>
		<option value="Lawful Neutral">Lawful Neutral</option>
		<option value="Lawful Evil">Lawful Evil</option>
		<option value="Neutral Good">Neutral Good</option>
		<option value="True Neutral">True Neutral</option>
		<option value="Neutral Evil">Neutral Evil</option>
		<option value="Chaotic Good"> Chaotic Good</option>
		<option value="Chaotic Neutral"> Chaotic Neutral</option>
		<option value="Chaotic Evil"> Chaotic Evil</option>
	</select>
	<br />
	<label>Current STR: </label> @ViewBag.CharacterData.Strength
	<label>New STR: </label><input name="Strength" type="number" minimum="6" max="20" /><br />
	<label>Current DEX: </label> @ViewBag.CharacterData.Dexterity
	<label>New DEX: </label><input name="Dexterity" type="number" minimum="6" max="20" /><br />
	<label>Current CON: </label> @ViewBag.CharacterData.Constitution
	<label>New CON: </label><input name="Constitution" type="number" minimum="6" max="20" id="con" /><br />
	<label>Current INT: </label> @ViewBag.CharacterData.Intelligence
	<label>New INT: </label><input name="Intelligence" type="number" minimum="6" max="20" /><br />
	<label>Current WIS: </label> @ViewBag.CharacterData.Wisdom
	<label>New WIS: </label><input name="Wisdom" type="number" minimum="6" max="20" /><br />
	<label>Current CHA: </label> @ViewBag.CharacterData.Charisma
	<label>New CHA:</label><input name="Charisma" type="number" minimum="6" max="20" /><br />
	<label>Current Spells: </label>@ViewBag.CharacterData.SpellsKnown
	<label>Add Spells:</label>
    <table border="1">
		@for (int i = 0; i < ViewBag.Spells.Count; i++)
		{
		<tr>
			<td>
				<input type="checkbox" name="SpellsKnown" value="@ViewBag.Spells[i]["name"]" />
				@ViewBag.Spells[i]["name"]
			</td>
		</tr>
		}
	</table>
	<label>Current Proficiencies: </label>@ViewBag.CharacterData.Proficiencies
	<label>Change Proficiencies: </label>
    @for (int i = 0; i < ViewBag.Classes["from"].Count; i++)
	{
	<input type="checkbox" name="Proficiencies" value="@ViewBag.Classes["from"][i]["name"]" />
	@ViewBag.Classes["from"][i]["name"]
	<br />
	}

</form>
<br />
<br />
<br />

