@using DnDTomeOfKeeping.Models;
@{
	ViewBag.Title = "CharacterCreator";
}

<form action="/Home/CharacterSubmit" method="post">
	<h2>CharacterCreator</h2><br />
	<label>Character Name: </label><input type="text" name="CharName" />
	<input type="hidden" value="@ViewBag.Name" />
	<h2>Class: @ViewBag.Name</h2> <br />
	<label>Level: </label><input type="number" min="1" max="20" name="CharLevel" id="charlvl" />
	<label>HP: </label><input type="number" name="HitPoints" @*min="@(ViewBag.Classes["hit_die"] + con + (1*(charlvl - 1)))"*@ />
	<h2>Statistics</h2><br />
	<label>STR: </label><input name="Strength" type="number" minimum="6" max="20" /><br />
	<label>DEX: </label><input name="Dexterity" type="number" minimum="6" max="20" /><br />
	<label>CON: </label><input name="Constitution" type="number" minimum="6" max="20" id="con" /><br />
	<label>INT: </label><input name="Intelligence" type="number" minimum="6" max="20" /><br />
	<label>WIS: </label><input name="Wisdom" type="number" minimum="6" max="20" /><br />
	<label>CHA: </label><input name="Charisma" type="number" minimum="6" max="20" /><br />
	<h2>Alignment</h2><br />
	<select name="Alignment">
		<option value="Lawful Good">Lawful Good</option>
		<option value="Lawful Neutral">Lawful Neutral</option>
		<option value="Lawful Evil">Lawful Evil</option>
		<option value="Neutral Good">Neutral Good</option>
		<option value="True Neutral">True Neutral</option>
		<option value="Neutral Evil">Neutral Evil</option>
		<option value="Chaotic Good"> Chaotic Good</option>
		<option value="Chaotic Neutral"> Chaotic Neutral</option>
		<option value="Chaotic Evil"> Chaotic Evil</option>
	</select>
	<br />
	<h2>Race</h2><br />
	<select name="Race">
		@for (int i = 0; i < ViewBag.Races.Count; i++)
		{
			<option value="@(i+1)">@ViewBag.Races[i]["name"]</option>
		}
	</select>

	<br />
	<h2>Proficiency Choices: </h2>
	<br />


	<h2>Pick @ViewBag.Choose from this list</h2>
	@for (int i = 0; i < ViewBag.Classes["from"].Count; i++)
	{

		<input type="checkbox" name="Proficiencies" value="@ViewBag.Classes["from"][i]["name"]" />
		@ViewBag.Classes["from"][i]["name"]

	}

	<br />

	<h2>Spells:</h2>
	<br />
	<table border="1">
		@for (int i = 0; i < ViewBag.Spells.Count; i++)
		{
			<tr>
				<td>
					<input type="checkbox" name="Spells" value="@ViewBag.Spells[i]["name"]" />
					@ViewBag.Spells[i]["name"]
				</td>
			</tr>
		}
	</table>

	<h3>Armor and Weapon Proficiencies</h3>
	<br />
	@for (int i = 0; i < ViewBag.Pro.Count; i++)
	{
		<p>@ViewBag.Pro[i]["name"]</p>
	}

	<h3>Saving Throws</h3>
	<br />
	@for (int i = 0; i < ViewBag.Saves.Count; i++)
	{
		<p>@ViewBag.Saves[i]["name"]</p>
	}

	<input name="UserID" type="hidden" value="2182a8b6-b950-47ec-98eb-54b00a08fe63" />
	<input type="submit" value="Create Character" />
</form>
<br /><br /><br /><br />
