@model DnDTomeOfKeeping.Models.RegisterViewModel
@{
	ViewBag.Title = "Home Page";
}

<div class="row">
	<div class="col-md-5">
		<h2>So you want to play</h2>
		<h2>some D&D...</h2>
		<p>
			Well, you'll have to take a look at the Player's Handbook to actually play the game,
			but you can create and edit your characters here so you don't have to keep track
			of a character sheet!
		</p>
		<p><a class="btn btn-default" href="/Home/About">Go to the tutorial &raquo;</a></p>
	</div>

	@if (Request.IsAuthenticated)
	{
		<div class="col-md-7 text-right">
			<b>Recent Characters</b>
			<p>
				@*but in the view and cannot access the char id or char name ive tried multiple combinations*@

				@for (int i = ViewBag.PubChar.Count - 1; i > ViewBag.PubChar.Count - 6; i--)
				{
					<a href="/Home/ViewCharacter?CharacterID=@ViewBag.PubChar[i].CharID">View @ViewBag.PubChar[i].CharName</a>
					<br />
				}
			</p>
		</div>
	}
	else
	{

		<div class="col-md-5">
			<h2>Register!</h2>
			@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
			{
				@Html.AntiForgeryToken()
				<hr />
				@Html.ValidationSummary("", new { @class = "text-danger" })
				<div class="form-group">
					@Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
					<div class="col-md-10">
						@Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
					</div>
				</div>
				<div class="form-group">
					@Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
					<div class="col-md-10">
						@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
					</div>
				</div>
				<div class="form-group">
					@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
					<div class="col-md-10">
						@Html.PasswordFor(m => m.Password, new { @class = "form-control" })
					</div>
				</div>
				<div class="form-group">
					@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
					<div class="col-md-10">
						@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-offset-2 col-md-10">
						<input type="submit" class="btn btn-default" value="Register" />
					</div>
				</div>
			}

			@section Scripts {
				@Scripts.Render("~/bundles/jqueryval")
			}

		</div>
		<div class="col-md-2 text-right">
			<b>Recent Characters</b>
			<p>
				@*but in the view and cannot access the char id or char name ive tried multiple combinations*@

				@for (int i = ViewBag.PubChar.Count - 1; i > ViewBag.PubChar.Count - 6; i--)
				{
					<a href="/Home/ViewCharacter?CharacterID=@ViewBag.PubChar[i].CharID">View @ViewBag.PubChar[i].CharName</a>
					<br />
				}
			</p>
		</div>
	}

</div>
<br />
<br />
<br />



