
@{


    ViewBag.Title = "ViewCharacter";

    string[] classNames = new string[] { "Barbarian", "Bard", "Cleric", "Druid", "Fighter", "Monk", "Paladin", "Ranger", "Rogue", "Sorcerer", "Warlock", "Wizard"};
    string[] raceNames = new string[] { "Dwarf", "Elf", "Halfling", "Human", "Dragonborn", "Gnome", "Half-Elf", "Half-Orc", "Tiefling" };
}

<h2>ViewCharacter</h2>

<h2>@ViewBag.Character.CharName</h2>

<label>Character Name: </label> @ViewBag.Character.CharName  <br />
<label>Race: </label> @raceNames[@ViewBag.Character.Race-1]  <br />
<label>Class: </label> @classNames[@ViewBag.Character.Class-1]  <br />
<label>Current Level: </label> @ViewBag.Character.CharLevel<br />
<label>Current HP: </label> @ViewBag.Character.HitPoints<br />
<label>Current Alignment: </label> @ViewBag.Character.Alignment<br />
<label>Current STR: </label> @ViewBag.Character.Strength<br />
<label>Current DEX: </label> @ViewBag.Character.Dexterity<br />
<label>Current CON: </label> @ViewBag.Character.Constitution<br />
<label>Current INT: </label> @ViewBag.Character.Intelligence<br />
<label>Current WIS: </label> @ViewBag.Character.Wisdom<br />
<label>Current CHA: </label> @ViewBag.Character.Charisma<br />
<label>Current Spells: </label>@ViewBag.Character.SpellsKnown<br />
<label>Current Proficiencies: </label>@ViewBag.Character.Proficiencies <br />
<label>Current Features: </label>@ViewBag.Character.Features<br />

<br /><br /><br />



